<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<div class="titolo p-4" align="center">
    <h1 class="font"><strong>WELCOME</strong> </h1>
</div>
<div align="center">
    <img class="img" src="../assets/img/welcome.png">
    <br>
    Benvenuto in questo sito dove potrai accedere a varie informazioni riguardanti delle mostre
    <br>
    per maggiori informazioni schiacciare mostre
</div>
